* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/images/back.jpg);
  background-color: rgb(236, 234, 234);
  background-repeat: no-repeat;
  background-size: 100%;

}

header h1{
  color: rgb(10, 9, 9);
  padding: 1rem; 
}

header span {
  color: blueviolet;
}

header span:hover {
  color: red;
}

header a {
  text-decoration: none;
}


div {
  display: inline-block;
}

nav {
  padding-left: 80rem;
  overflow-wrap: normal;
  
}

nav ul li a:hover{
  bottom: 10%;
  color: red;
  box-shadow: 0 5px 0 0 #F15A29 
}

nav ul {
  display: flex;
  list-style: none;
  
}
nav ul li {
  padding: 1rem;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(16, 15, 15);
}
main {
  margin: 0 10rem 0 10rem
}

section#ap div.texto-ap {
  color: rgb(8, 8, 8);
  padding-top: 5rem;
}

section#ap div.texto-ap h1 {
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 1rem;  
}

section#ap div.texto-ap p {
  color: rgb(70, 69, 69);
  padding-bottom: 10rem;
}

section#ap div.img-ap{
  padding-left: 47rem;
  
}



section#botao-contato div.btn-contato button {
 
  border: solid;
  color: rgb(8, 8, 8);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2rem;  
  
}
section#botao-contato div.btn-contato button:hover {
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  color: white;
  border-style: double;
  cursor: pointer;
}

section#sobre-sec div.sobre {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 20px;
  font-family: cursive;
}

section#sobre-sec article {
  display: flex;
  justify-content: center;
  font-style: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
section#ap div.texto-ap {
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section#ap div.texto-ap span{
  color: blueviolet;
  font-weight: bold;
 }

 section#icons div.git img {
   display: flex;
   width: 100px;
   height: 100px;
   padding-top: 2rem;
   padding-left: 6rem;
   
 }

 h1.redes {
   display: flex;
   justify-content: center;
   padding-bottom: 2rem;
   padding-top: 2rem;
   font-family: cursive;
 }

 section#icons {
   display: flex;
   justify-content: center;
   padding-bottom: 1rem;
 }

 section#icons div.face img {
  display: flex;
  width: 100px;
  height: 100px;
  padding-top: 2rem;
  padding-left: 6rem;
 }

 section#icons div.link img {
  display: flex;
  width: 100px;
  height: 100px;
  padding-top: 2rem;
  padding-left: 6rem;
 }

 section#icons div.insta img {
  display: flex;
  width: 100px;
  height: 100px;
  padding-top: 2rem;
  padding-left: 6rem;
  
 }

 h1.habilidades-tx {
   display: flex;
   justify-content: center;
   padding-top: 2rem;
   padding-bottom: 2rem;
   font-family: cursive;
 }
 section#habilidades{
   display: flex;
   justify-content: center;
 }

 section#habilidades div.html img {
  display: flex;
  width: 100px;
  height: 100px;
  padding-top: 2rem;
  padding-left: 6rem;
 }

 section#habilidades div.css img {
  display: flex;
  width: 90px;
  height: 100px;
  padding-top: 2rem;
  padding-left: 6rem;
 }

 section#habilidades div.js img {
  display: flex;
  width: 90px;
  height: 100px;
  padding-top: 2rem;
    padding-left: 6rem;
 }